spring:
  profiles:
    active: dev
  application:
    name: superman

server:
  port: 8080
  servlet:
    context-path: /superman

mybatis-plus:
  type-aliases-package: com.example.spring_boot_demo.entity
  mapper-locations: classpath:mapper/*.xml

---
spring:
  profiles: dev
  datasource:
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    name: primaryData
    url: jdbc:mysql://localhost:3306/demo?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC

mybatis-plus:
  # 开发环境配置打印SQL语句
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl # 配置slf4j 会写进日志文件
    #org.apache.ibatis.logging.stdout.StdOutImpl # 配置这个不会写进日志文件
# 日志
logging:
  file: log/project.log   #写路径时前面不加斜杠表示在项目路径下的log文件夹
  level:
    root: info  #日志级别
    com.example.mpdemo.mapper: debug